/*

!.gitignore

!/source/
!/source/*

!/packages/
!/packages/*

!/wt/
!/wt/*
/wt/archive/
/wt/web/*
!/wt/web/custom/
!/wt/web/custom/*

*.flv
*.mp4
*.avi
*.wmv

*.jpg
*.png

*.swf
*.zip
!/packages/**/*.zip

*.exe
*.db

*.log
*.xls
*.xlsx
*.pdf
*.psd
